@import '~bootstrap/scss/bootstrap';
@import 'header';
@import 'jumbo';
@import 'main';

/*--GENERICS--*/
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
}
img{
    width: 100%;
    object-fit: cover;
}
